.info {
	height: 80px;
	width: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-dark);
	color: var(--color-light);
	cursor: default;
}

.X {
	background-color: var(--color-cross);
	box-shadow: 0 0 150px var(--color-cross);
}

.O {
	background-color: var(--color-nought);
	box-shadow: 0 0 150px var(--color-nought);
}
