.field {
	width: min(650px, 33.854vw);
	aspect-ratio: 1 / 1;
	display: grid;
	grid-template-columns: repeat(3, min(210px, 10.938vw));
	grid-template-rows: repeat(3, min(210px, 10.938vw));
	gap: min(10px, 0.521vw);
	position: relative;
	transition: none;
}

.X {
	box-shadow: 0 0 20px var(--color-cross);
}

.O {
	box-shadow: 0 0 20px var(--color-nought);
}

.cell {
	background-color: var(--color-dark);
	width: min(210px, 10.938vw);
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/* transition: all 0.3s ease-in-out; */
	cursor: pointer;
}

.cell:hover {
	transition: 0.08s ease-in-out;
	background-color: var(--color-dark-hover);
}

.X::after,
.X::before {
	content: "";
	position: absolute;
	width: min(200px, 10.417vw);
	aspect-ratio: 10 / 1;
	background-color: var(--color-cross);
	border-radius: 20px;
}

.X::after {
	transform: rotate(45deg);
}

.X::before {
	transform: rotate(-45deg);
}

.O::before {
	content: "";
	position: absolute;
	width: min(180px, 9.375vw);
	aspect-ratio: 1 / 1;
	border: min(20px, 1.042vw) solid var(--color-nought);
	border-radius: 50%;
}
